<header class="header-global">
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
              aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="./assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global"
                      aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-ui-04 d-lg-none"></i>
              <span class="nav-link-inner--text">Components</span>
            </a>
            <div class="dropdown-menu dropdown-menu-xl">
              <div class="dropdown-menu-inner">
                <a href="https://demos.creative-tim.com/argon-design-system/docs/getting-started/overview.html"
                   class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                    <i class="ni ni-spaceship"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Getting started</h6>
                    <p class="description d-none d-md-inline-block mb-0">Learn how to use Argon compiling Scss, change
                      brand colors and more.</p>
                  </div>
                </a>
                <a href="https://demos.creative-tim.com/argon-design-system/docs/foundation/colors.html"
                   class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                    <i class="ni ni-palette"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h6 class="heading text-primary mb-md-1">Foundation</h6>
                    <p class="description d-none d-md-inline-block mb-0">Learn more about colors, typography, icons and
                      the grid system we used for Argon.</p>
                  </div>
                </a>
                <a href="https://demos.creative-tim.com/argon-design-system/docs/components/alerts.html"
                   class="media d-flex align-items-center">
                  <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                    <i class="ni ni-ui-04"></i>
                  </div>
                  <div class="media-body ml-3">
                    <h5 class="heading text-warning mb-md-1">Components</h5>
                    <p class="description d-none d-md-inline-block mb-0">Browse our 50 beautiful handcrafted components
                      offered in the Free version.</p>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link" data-toggle="dropdown" href="#" role="button">
              <i class="ni ni-collection d-lg-none"></i>
              <span class="nav-link-inner--text">Examples</span>
            </a>
            <div class="dropdown-menu">
              <a href="../examples/landing.html" class="dropdown-item">Landing</a>
              <a href="../examples/profile.html" class="dropdown-item">Profile</a>
              <a href="../examples/login.html" class="dropdown-item">Login</a>
              <a href="../examples/register.html" class="dropdown-item">Register</a>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.facebook.com/creativetim" target="_blank"
               data-toggle="tooltip" title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
              <span class="nav-link-inner--text d-lg-none">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://www.instagram.com/creativetimofficial" target="_blank"
               data-toggle="tooltip" title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
              <span class="nav-link-inner--text d-lg-none">Instagram</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://twitter.com/creativetim" target="_blank"
               data-toggle="tooltip" title="Follow us on Twitter">
              <i class="fa fa-twitter-square"></i>
              <span class="nav-link-inner--text d-lg-none">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" href="https://github.com/creativetimofficial/argon-design-system"
               target="_blank" data-toggle="tooltip" title="Star us on Github">
              <i class="fa fa-github"></i>
              <span class="nav-link-inner--text d-lg-none">Github</span>
            </a>
          </li>
          <li class="nav-item d-none d-lg-block ml-lg-4">
            <a href="https://www.creative-tim.com/product/argon-design-system" target="_blank"
               class="btn btn-neutral btn-icon">
                <span class="btn-inner--icon">
                  <i class="fa fa-cloud-download mr-2"></i>
                </span>
              <span class="nav-link-inner--text">Download</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="container pt-lg-md">

      <form (ngSubmit)="uploader.uploadAll()">

        <div class="form-group row">
          <div class="col-md-3">
            <h3>Add files</h3>
            <div>
              <div class="well my-drop-zone" ngxDragAndDrop>
                Drop files here to upload
              </div>
            </div>
          </div>

          <div class="col-md-9" style="margin-bottom: 40px">
            <h3>Upload queue <span *ngIf="uploader.queue.length>0"> - {{ uploader.queue.length }} item(s)</span>
            </h3>

            <div class="card text-right pt-3 pb-3">
              <div style="margin: 15px">
                <ngb-progressbar showValue="true" type="success" [striped]="true" [animated]="true"
                                 [value]="uploader.progressTotal"></ngb-progressbar>
              </div>
              <div class="card-block">
                <button type="button" class="btn btn-outline-success btn-s" (click)="uploader.uploadAll()"
                        [disabled]="!activeUploadAllBtn()">
                  Upload all
                </button>
                <button type="button" class="btn btn-outline-warning btn-s" (click)="uploader.cancelAll()"
                        [disabled]="!activeCancelAllBtn()">
                  Cancel all
                </button>
                <button type="button" class="btn btn-outline-danger btn-s"
                        (click)="uploader.removeAllFromQueue()"
                        [disabled]="!activeRemoveAllBtn()">
                  Remove all
                </button>
              </div>
            </div>
            <div class="card pb-5" style="margin-top: 20px">

              <table class="table" style="font-size: 14px">
                <thead>
                <tr>
                  <th></th>
                  <th width="50%">Name</th>
                  <th>Size</th>
                  <th>Progress</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let itemFile of uploader.queue"
                    [ngClass]="{'table-success' : itemFile.isSuccess, 'table-danger' : itemFile.isError, 'table-warning' : itemFile.isUploading  }">
                  <td>
                    <div [ngxThumbnail]="itemFile"></div>
                  </td>
                  <td>{{ itemFile.file.name }}</td>
                  <td>{{ itemFile.file.size/1024/1024 | number:'1.0-2' }} MB</td>
                  <td>
                    <div>
                      <ngb-progressbar type="success" showValue="true"
                                       [striped]="true" [animated]="true"
                                       [value]="itemFile.progress">

                      </ngb-progressbar>
                    </div>
                  </td>
                  <td style="text-align: center">
                    <button type="button" class="btn btn-outline-success btn-sm" (click)="itemFile.upload()"
                            [disabled]="!itemFile.isReady">
                      Upload
                    </button>
                    <button type="button" class="btn btn-outline-warning btn-sm" (click)="itemFile.cancel()"
                            [disabled]="!itemFile.uploadInProgress || itemFile.isCancel">
                      Cancel
                    </button>
                    <button type="button" class="btn btn-outline-danger btn-sm" (click)="itemFile.remove()"
                            [disabled]="itemFile.isSuccess || itemFile.uploadInProgress">
                      Remove
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </form>
      <!--<div class="col-lg-5">-->
      <!--<div class="card bg-secondary shadow border-0">-->
      <!--<div class="card-header bg-white pb-5">-->
      <!--<div class="text-muted text-center mb-3">-->
      <!--<small>Sign in with</small>-->
      <!--</div>-->
      <!--<div class="btn-wrapper text-center">-->
      <!--<a href="#" class="btn btn-neutral btn-icon">-->
      <!--<span class="btn-inner&#45;&#45;icon">-->
      <!--<img src="./assets/img/icons/common/github.svg">-->
      <!--</span>-->
      <!--<span class="btn-inner&#45;&#45;text">Github</span>-->
      <!--</a>-->
      <!--<a href="#" class="btn btn-neutral btn-icon">-->
      <!--<span class="btn-inner&#45;&#45;icon">-->
      <!--<img src="./assets/img/icons/common/google.svg">-->
      <!--</span>-->
      <!--<span class="btn-inner&#45;&#45;text">Google</span>-->
      <!--</a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>

  </section>
</main>
